@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 8px #f0f1f2;
}

.card:hover {
    box-shadow: 0 4px 16px #d9d9d9;
}

.card.selected {
    border: 1px solid #1890ff;
    box-shadow: 0 4px 16px #d9d9d9;
}

.card.selected .card-content {
    color: white;
}

.card.selected .card-close {
    color: white;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-description {
    font-size: 14px;
}

.card-temperature {
    font-size: 16px;
}

.card-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.card-bottom {
    background-color: black;
    color: white;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media screen and (max-width: 767px) {
    .flex {
        flex-direction: column;
    }

    .flex.justify-between.h-36 {
        height: auto;
    }

    .flex.justify-between.h-36>div {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .border-l-2 {
        border-top: 2px solid white;
        margin: 5% 0;
    }
        .flex.justify-between.h-20.items-center {
            flex-direction: column;
            align-items: center;
        }
    
        .border-l-2.border-white.h-8 {
            display: none;
        }
    
        .text-gray-700.text-xs.flex.flex-col {
            margin: 1px;
            text-align: center;
        }
    
        .text-lg.font-bold.mr-2 {
            margin-top: 10px;
            text-align: center;
        }
    
        svg.h-6.w-6.text-white {
            margin: 0 auto;
        }
}