/* // Importing base, components, and utilities from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

HTML {
    background-image: url('./4122410.jpg');
}

.xcol {
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.xcol img {
    height: 50px;
    margin-right: 10px;
    opacity: 0.9;
    border-radius: 19px;
    margin-bottom: 19%;
}

.icon-font {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 19%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 10%;
}

/* // Styling for the card element */
.card {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 8px #f0f1f2;
}

/* 
Styling for the card element on hover */
.card:hover {
    box-shadow: 0 4px 16px #d9d9d9;
}

/* Styling for the selected card element */
.card.selected {
    border: 1px solid #0c78dc;
    box-shadow: 0 4px 16px #d9d9d9;
}

/* Styling for the close button inside the selected card element */
.card.selected .card-content {
    color: white;
}

/* Styling for the content inside the card element */
.card.selected .card-close {
    color: white;
}

/* Styling for the title inside the card element */
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the description inside the card element */
.card-title {
    font-weight: bold;
    font-size: 20px;
}

/* Styling for the temperature inside the card element */
.card-description {
    font-size: 14px;
}

/* Styles for temperature in a card */
.card-temperature {
    font-size: 16px;
}

/* Styles for close button in a card */
.card-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

/* Styles for the bottom section of a card */
.card-bottom {
    background-color: black;
    color: white;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* Media Query for screens up to 768px */
@media only screen and (max-width: 768px) {
    .xcol {
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
    }

    .xcol img {
        margin-right: 0;
        margin-bottom: 0;
    }

    .icon-font {
        margin-bottom: 16px;
    }

    .container {
        margin-top: 5%;
    }

    .card {
        width: 100%;
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .card-temperature {
        margin-top: 4px;
        margin-bottom: 8px;
    }
}

/* Media Query for screens above 768px */
@media only screen and (min-width: 768px) {
    .xcol {
        margin-bottom: 0;
    }

    .icon-font {
        margin-right: 32px;
    }

    .container {
        margin-top: 10%;
    }

    .card {
        width: 400px;
    }

    .card-content {
        flex-direction: row;
        align-items: center;
    }

    .card-title {
        font-size: 24px;
        margin-right: 16px;
    }
}

@media only screen and (min-width: 1275px) {
    .xcol img {
        height: 40px;
        margin-right: 10px;
        opacity: 0.9;
        border-radius: 19px;
        margin-bottom: 12%;
    }

    .icon-font {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 12%;
    }

    .container {
        margin-top: 5%;
    }

    .card {
        padding: 10px;
        margin-bottom: 12px;
    }

    .card-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-bottom {
        padding: 8px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 12px;
    }

    .card-temperature {
        font-size: 14px;
    }
}

.flexcol {
    margin-top: 20px;
    margin-right: 42%;
}

.white-text {
    color: white;
    font-size: 20px;
}

.mr-25 {
    margin-right: 15%;
    margin-bottom: 14%;
}

.font-w {
    font-Size: 44px;
}

.font {
    color: white;
}

.bottom {
    background-color: hsl(228deg 11.81% 24.9%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 13px;
}

.bottom-left {
    color: white;
    margin-Left: 5%;
}

.bottom-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.bottom-middle-cenetr {
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
}

.bottom-right {
    color: white;
    margin-right: 5%;
}

.bg-color {
    background-color: hsl(228deg 11.81% 24.9%);
}

.third-contrainer {
    background-color: hsl(210.51deg 78.48% 56.27%);
    padding-top: 10px;
}

.forth-contrainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(210.51deg 78.48% 56.27%);
}

.fifth-contrainer {
    margin-bottom: 1%;
    color: white;
    font-size: 24px;
}

.date-time {
    background-color: hsl(210.51deg 78.48% 56.27%);
    color: white;
}

.icon-description {
    margin-left: 25%;
}

.description {
    color: white;
    font-size: 24px;
}

.line-divider {
    margin-top: 5%;
}

.Right-side-section {
    margin-right: 25%;
    color: white;
    font-size: 24px;
}

.bottom-left {
    background-color: hsl(228deg 11.81% 24.9%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 13px;
}

.bottom-left-sub {
    color: white;
    margin-left: 15%;
}

.bottom-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.bottom-middle-sub {
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .flexcol {
        margin-top: 10px;
        margin-right: 10%;
    }

    .white-text {
        font-size: 16px;
    }

    .mr-25 {
        margin-right: 10%;
        margin-bottom: 8%;
    }

    .font-w {
        font-size: 36px;
    }

    .bottom {
        margin-bottom: 10px;
    }

    .bottom-left {
        margin-left: 3%;
    }

    .bottom-middle {
        margin-bottom: 3%;
    }

    .bottom-middle-cenetr {
        margin-left: 10%;
    }

    .bottom-right {
        margin-right: 3%;
    }

    .third-contrainer {
        padding-top: 5px;
    }

    .fifth-contrainer {
        font-size: 20px;
    }

    .icon-description {
        margin-left: 10%;
    }

    .description {
        font-size: 20px;
    }

    .line-divider {
        margin-top: 3%;
    }

    .Right-side-section {
        font-size: 20px;
    }

    .bottom-left-sub {
        margin-left: 10%;
    }

    .bottom-middle-sub {
        margin-left: 5%;
    }
}

.footer {
    background-color: #30333d;
    color: #fff;
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px;
}

.footer__content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    margin: 0 auto;
}
