/* // Importing base, components, and utilities from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Open Sans";
}

body {
    background-image: url('./header_Img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    background-color: rgb(30 32 39);
    opacity: 1;
}

.xcol {
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.xcol img {
    height: 50px;
    margin-right: 10px;
    opacity: 0.9;
    border-radius: 19px;
    margin-bottom: 19%;
}

.temp-main {
    width: 12px;
    height: 48px;
    font-size: 1px;
    font-weight: 100px;
}

.header {
    display: flex;
    justify-content: center;
    height: 0;
}

.icon-font {
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 30px;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 10%;
}

/* // Styling for the card element */
.card {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 8px #f0f1f2;
}

.weather-card {
    padding: 0px 0px 0px 0px;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 288px;
    width: 467px;
}

.middle-crd {
    height: 35%;
}

.home-font {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: capitalize;
}

.card-bg {
    background-image: url('./cloud_bg-card.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 100%;
}

.weather-card:hover {
    transform: scale(1.05);
}

.weather-card:nth-child(1) {
    background-color: hsl(210.51deg 78.48% 56.27%);
}

.weather-card:nth-child(3) {
    background-color: hsl(153.05deg 47.97% 48.24%);
}

.weather-card:nth-child(5) {
    background-color: hsl(0deg 45.79% 41.96%);
}

.weather-card:nth-child(4) {
    background-color: hsl(29.17deg 68.57% 58.82%);
}

.weather-card:nth-child(6) {
    background-color: hsl(304.51deg 45.79% 41.96%);
}

.weather-card:nth-child(2) {
    background-color: rgb(98 73 204);
}

.weather-card:nth-child(7) {
    background-color: hsl(85.19deg 45.79% 41.96%);
}

.weather-card:nth-child(8) {
    background-color: hsl(36deg 2.11% 46.47%);
}

#temp {
    margin-top: 8%;
    padding: 15px;
    width: 150px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24.02px;
    text-align: center;
}

/* 
Styling for the card element on hover */
.card:hover {
    box-shadow: 0 4px 16px #d9d9d9;
}

.border-l-2 {
    border-left: 2px solid #515566;
}

.subcrd-line-devider {
    border: 1px solid #87bbf0;
    height: 50%;
    margin-left: 10%;
}

/* Styling for the selected card element */
.card.selected {
    border: 1px solid #0c78dc;
    box-shadow: 0 4px 16px #d9d9d9;
}

/* Styling for the close button inside the selected card element */
.card.selected .card-content {
    color: white;
}

/* Styling for the content inside the card element */
.card.selected .card-close {
    color: white;
}

/* Styling for the title inside the card element */
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the description inside the card element */
.card-title {
    font-weight: bold;
    font-size: 20px;
}

/* Styling for the temperature inside the card element */
.card-description {
    font-size: 14px;
}

/* Styles for temperature in a card */
.card-temperature {
    font-size: 16px;
}

/* Styles for close button in a card */
.card-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

/* Styles for the bottom section of a card */
.card-bottom {
    background-color: black;
    color: white;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 0 0 0;
}


/* Media Query for screens up to 768px */
@media only screen and (max-width: 768px) {
    .xcol {
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
    }

    .xcol img {
        margin-right: 0;
        margin-bottom: 0;
    }

    .header {
        height: auto;
        flex-wrap: wrap;
        padding: 1px;
    }

    .icon-font {
        margin-bottom: 16px;
    }

    .container {
        margin-top: 5%;
    }

    .card {
        width: 100%;
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .card-temperature {
        margin-top: 4px;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 500px) {
    .xcol {
        margin-bottom: 0;
    }

    .icon-font {
        margin-right: 32px;
    }

    .container {
        margin-top: 10%;
    }

    .card {
        width: 400px;
    }

    .card-content {
        flex-direction: row;
        align-items: center;
    }

    .card-title {
        font-size: 24px;
        margin-right: 16px;
    }
}

@media only screen and (min-width: 500px) {
    .xcol img {
        height: 40px;
        margin-right: 10px;
        opacity: 0.9;
        border-radius: 19px;
        margin-bottom: 12%;
    }

    .icon-font {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 12%;
    }

    .container {
        margin-top: 5%;
    }

    .card {
        padding: 10px;
        margin-bottom: 12px;
    }

    .card-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-bottom {
        padding: 8px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 12px;
    }

    .card-temperature {
        font-size: 14px;
    }
}

.input-box {
    background-color: rgb(31, 33, 40);
}

.flexcol {
    margin-top: 20px;
    margin-right: 42%;
}

.my-element {
    color: white;
    margin-right: 15%;
}

.text-gray-700 {
    color: #ffffff;
}

.text-xs {
    font-size: 0.75rem;
}

.flex {
    display: flex;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fl-col {
    flex-direction: column;
}

.white-text {
    color: white;
    margin-left: 10%;
    text-transform: capitalize;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.mr-25 {
    margin-right: 15%;
    margin-bottom: 14%;
}

.font-w {
    text-transform: lowercase;
    width: 126px;
    height: 48px;
    font-size: 50px;
    font-weight: 500;
}

.font {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33.63px;
    display: inline;
    white-space: nowrap;

}

.font-normal {
    margin-top: 10px;
}

.bottom {
    background-color: hsl(228deg 11.81% 24.9%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom-left {
    color: white;
    margin-Left: 5%;
}

.bottom-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.bottom-middle-cenetr {
    transform: rotate(4deg);
    display: flex;
    justify-content: center;
    background-image: url('./Vector_Smart_Object.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.bottom-right {
    color: rgb(255, 255, 255);
}

.bottom-right-home {
    color: rgb(255, 255, 255);
    margin-right: 5%;
}

.bg-color {
    background-color: hsl(228deg 11.81% 24.9%);
}

.third-contrainer {
    background-color: hsl(210.51deg 78.48% 56.27%);
    padding-top: 10px;
}

.forth-contrainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(210.51deg 78.48% 56.27%);
}

.fifth-contrainer {
    margin-bottom: 1%;
    color: white;
    font-size: 24px;
}

.date-time {
    background-color: hsl(210.51deg 78.48% 56.27%);
    color: white;
}

.icon-description {
    margin-left: 25%;
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36.09px;
    margin-bottom: 4%;
}

.description {
    color: white;
    font-size: 24px;
}

.line-divider {
    margin-top: 5%;
}

.Right-side-section {
    margin-right: 25%;
    color: white;
    font-size: 24px;
    margin-left: 6%;

}

.bottom-left {
    background-color: hsl(228deg 11.81% 24.9%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans - Bold', 'Helvetica Neue', sans-serif;
}

.font-style {
    display: inline;
    font-weight: bolder;
    letter-spacing: normal;
    font-size: larger;

}

.contryName-font {
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-top: 4%;
}

.bottom-left-sub {
    color: white;
    margin-left: 6%;

}

.bottom-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.bottom-middle-sub {
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
}

.third-contrainer {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bottom-left-sub-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-left-sub-card div {
    margin-bottom: 0.5rem;
}

.font-style {
    font-weight: bold;
}

.footer {
    background-color: #30333d;
    color: #fff;
    padding: 10px 10px 30px 10px;
}

.footer__content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    margin: 0 auto;
    font-style: normal;
    line-height: normal;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 36.03px;
    text-align: center;
}

.footer-component {
    margin-top: 43.2%;
}

@media only screen and (min-width: 500px) {
    .footer__content {
        flex-wrap: wrap;
    }

    .footer-component {
        margin-top: 999px;
    }
}

.search-bg {

    border-radius: 8px;
    background-color: #6c5dd3;
}

@media only screen and (max-width: 320px) {
    .container {
        margin-top: 5%;
    }

    .xcol {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .card-description {
        width: auto;
    }

    .header {
        display: inline;
        margin-top: 150px;
    }

    .xcol img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .icon-font {
        font-size: 16px;
    }

    .mt-8 {
        margin-top: 8px;
    }

    /* class sets the width of an element to 100% (full width). */
    .w-4\/5 {
        width: 100%;
    }

    /* Sets the grid template columns to two columns screen sizes that meet the medium, large breakpoint. */

    .grid-cols-1,
    .md\:grid-cols-2,
    .lg\:grid-cols-3,
    .xl\:grid-cols-2 {
        grid-template-columns: 1fr;
    }

    .gap-10 {
        gap: 1%;
        margin: 10px;
    }

    .card {
        padding: 10px;
    }

    .weather-card {
        width: max-content;
        height: auto;
        margin-top: 7%;
    }

    .middle-crd {
        height: auto;
    }

    .temp-main {
        margin-top: 15%;
        margin-right: 40px;
    }

    .text-gray-700,
    .text-gray-900 {
        text-align: center;
    }

    .card-bg {
        height: 100%;
        margin-bottom: 0;
    }

    .flexcol.contryName-font {
        font-size: 12px;
    }

    .text-md {
        font-size: 14px;
    }

    .contryName-font {
        margin-right: 0px;
    }

    .uppercase.text-gray-700 {
        font-size: 14px;
    }

    .text-gray-700.text-sm {
        font-size: 10px;
    }

    .third-contrainer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .h-36 {
        height: 150px;
    }

    .white-text {
        text-align: left;
        display: inline;
        margin-top: 10%;
        justify-content: left;
    }

    .w-16.h-16 {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .text-4xl {
        font-size: 24px;
    }

    .mr-25 {
        margin-right: 0;
    }

    .text-xs #temp {
        font-size: 10px;
        text-align: center;
    }

    .bottom {
        margin-top: 0px;
        text-align: center;
        height: 1400px;
    }

    .text-lg.font-bold.font {
        font-size: 16px;
    }

    .border-l-2.h-8.border-l-2-main {
        margin-top: 10px;
    }

    .bottom-left,
    .bottom-middle,
    .bottom-right-home {
        text-align: center;
        padding: auto 10px 0px 10px;
    }


    .text-gray-700.text-xs.flex.flex-col.bottom-left {
        font-size: 10px;
        margin-top: 5px;
    }

    .text-lg.font-bold.mr-2.font {
        font-size: 14px;
    }

    .border-l-2.border-l-2-main.border-white.h-8 {
        margin-top: 5px;
        margin-right: 5px;
    }

    .font {
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .text-gray-700.text-xs.flex.flex-col.bottom-right-home {
        font-size: 10px;
        margin-top: 5px;
    }

    /*search bar*/
    .input-box {
        width: 220%;
        margin-bottom: 10%;
    }

    .search-bg {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 10%;
    }

    /* card in detailed */

    .card-inside {
        width: 500px;
    }

    .mr-2-2 {
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 18%;
    }

    .bottom-right-card {
        margin-right: 0;
        margin-left: 10px;
    }

    .icon-description-card {
        margin-left: 0px;
        text-align: center;
        margin-bottom: 7%;
    }

    .Right-side-section-card {
        margin-right: 30px;
        margin-top: 0%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .bottom-left-sub-card {
        text-align: center;
        margin-right: 30px;
        margin-bottom: 10px;
        color: #ffffff;
        margin-top: 90px;
    }

    .bottom-left-sub {
        margin-left: 3px;
        margin-right: 7px;
    }

    .bottom-middle-card {
        margin-bottom: 1%;
        margin-top: 90px;
    }

    .bottom-middle-sub {
        transform: rotate(10);
    }

    .bottom-right-card {
        margin-left: 3px;
        margin-bottom: 12px;
        margin-top: 5px;
        margin-right: 0%;
    }

    .bottom-right-card-sunrise {
        margin-left: 15px;
        margin-bottom: 6px;
        margin-top: 90px;
        margin-right: 7px;
    }

    .bottom-left-city {
        display: block;
        padding: 10px;
        margin: 0%;
    }

    .bottom-left-city-sub {
        margin: 0;
    }

    .temp-320, #temp {
        padding: 0;
        margin: 0;
        margin-right: 10px;
    }

    .font-w-card{
        margin-right: 80px;
    }

    .middle-card {
        display: inline;
    }

    .border-l-2 {
        border-left: 2px solid white;
    }

    .h-8 {
        height: 40px;
    }

    .Degree-card {
        height: 60px;
    }

    .bottom-crd {
        height: 560px;
        width: 300px;
        margin-bottom: 0px;
        margin-left: 80px;
    }

    .border-l-2 {
        border-left: 2px solid #515566;
        margin-top: 25%;
    }

    .border-l-2-main {
        margin-top: 10%;
        height: 90%;
        margin: 0px 1px 0px 1px;
    }

    .third-contrainer {
        margin: 0;
    }

    .subcrd-line-devider {
        margin-right: 35.3px;
    }

    .bottom-middle-content {
        display: inline-block;
        white-space: nowrap;
    }

    .icon-font {
        margin-top: 20%;
    }

    .footer__content {
        flex-wrap: nowrap;
    }

    .footer-component {
        margin-top: 999px;
    }

    .footer {
        margin-top: 80%;
    }
}



/* Styles for screens larger than 768px */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 10%;
    }

    .flexcol {
        margin-right: 166px;
        margin-top: 20px;
    }

    .font {
        font-size: 16px;
    }

    .gap-10 {
        margin: 5px;
    }

    .bottom-left {
        margin-left: 12px;
        margin-top: 4px;
    }

    .bottom-middle-cenetr {
        transform: rotate(4deg);
    }

    .Right-side-section {
        margin-right: 0;
        margin-left: 0;
    }

    .bottom-768 {
        height: 110px;
    }

    .icon-description-card {
        margin-left: 0;
    }

    body {
        background-size: contain;
    }

    .xcol img {
        height: 0px;
        margin-bottom: 10%;
    }

    .temp-main {
        width: 8px;
        height: 40px;
        font-size: 0.8rem;
        font-weight: 200px;
    }

    #temp {
        margin-left: 30px;
        margin-bottom: 50px;
    }

    .border-l-2-main {
        margin-left: 5px;
        margin-right: 5px;
    }

    .icon-font {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .container {
        margin-top: 5%;
    }

    .weather-card {
        height: 350px;
        width: auto;
    }

    .white-text {
        margin-left: 35px;
        display: inline;
    }

    .home-font {
        font-size: 20px;
    }

    .font-w {
        width: 90px;
        margin-left: 70px;
        margin-bottom: 20px;
        height: 40px;
        font-size: 40px;
    }

    .font {
        font-size: 14px;
    }

    .bottom-middle {
        margin-bottom: 3%;
    }

    .bottom-right-home {
        margin-right: 3%;
    }

    .bottom-left-sub-card div {
        margin-bottom: 0.3rem;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer-component {
        margin-top: 999px;
    }
}